@import "/src/index.css";

/* Width will be adjusted on Blogs & Newsletter pages. */

.article__box {
    max-width: 100%;
    padding: 0.8rem;
    height: 100%;
    border: 2px solid #232323;
    border-radius: 8px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1.2rem;
}

.article__box img {
    width: 100%;
    border-radius: 8px;
    height: 200px;
}

.article__detail {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 0.7rem;
    align-items: flex-start;
}

.article__detail h3 {
    color: #1C1B1B;
    font-family: var(--f-p);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.article__detail p {
    color: #636363;
    font-family: var(--f-p);
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.article__box > a {
    border-radius: 12px;
    border: 2px solid #1C1B1B;
    background: #FFC066;
    padding: 0.4rem 1.4rem;
    font-family: var(--f-p);
    font-size: 17px;
    color: #232323;
}